<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>


  <runtime>

    <!--
      
      These should be enabled if we want to run on a system/server with a ton of processors / multiple processor groups
      
      <Thread_UseAllCpuGroups enabled="true"/>
      <GCCpuGroup enabled="true"/>
      <gcServer enabled="true"/>

      -->

    <loadFromRemoteSources enabled="true"/>
    <gcAllowVeryLargeObjects enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins/Dependencies;Plugins/Dependencies/IKVM_8_1_5717"/>
    </assemblyBinding>
  </runtime>
  
</configuration>
